.header{
    background: #d4d4d4;
    .wrap-header{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 8px 0;
        .left{
            flex-shrink: 0;
            flex-basis: 280px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        .right{
            padding-left: 20px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-grow: 1;
            justify-content: space-between
        }
    }
    .icon{
        flex-shrink: 0;
        font-size: 22px;
        color: #fff;
        line-height: 30px;
        margin: 0 25px;
        cursor: pointer;
    }
    h1.title{
        margin: 0;
        line-height: 30px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }
    .search{
        width: 60%;
        form{
            display: block;
        }
        input{
            padding: 10px;
            height: 30px;
            background: #fff;
            border: none;
            width: 100%;
            font-weight: 500;
        }
    }
    .username{
        margin-right: 20px;
        color: #fff;
        font-weight: bold;
        line-height: 30px;
        cursor: pointer;
    }
}
